section.brochures {
		.items {
		padding: 35px 0 70px;
		.item {
			float: left;
			width: 100%;
			padding: 0 5px;
			display: block;
			color: #333;
			&:hover, &:focus, &:active {
				color: #333;
				text-decoration: none;
				.image .hover {
					opacity: 1;
					transition: opacity 200ms;
				}
			}
			@media (min-width: @mobile) {
				width: 50%;
				padding: 0 5px 0 0;
			}
			@media (min-width: @tablet) {
				width: 100%/3;
				padding: 0 2.5px 0 2.5px;
			}
			margin: 0 0 40px;
			h3 {
				font-size: 22px;
				margin: 0 0 15px;
				text-align: center;
			}
			.image {
				position: relative;
				display: block;
				.hover {
					opacity: 0;
					transition: opacity 200ms;
					position: absolute;
					top: 0;
					right: 0;
					left: 0;
					bottom: 0;
					background: fade(@greenish, 80%);
					text-align: center;
					padding: 20px;
					.text {
						position: absolute;
						left: 0;
						width: 100%;
						text-align: center;
						top: 50%;
						transform: translateY(-50%);
					}
					p {
						font-size: 16px;
						line-height: 24px;
						margin: 0;
						color: #FFF;
					}
					.icon {
						display: inline-block;
						color: #FFF;
						text-decoration: none;
						&:hover, &:active {
							color: #FFF;
							text-decoration: none;
						}
						&:first-of-type { margin-right: 60px; }
						.request, .download {
							text-align: center;
							.sprite-location();
							width: 60px;
							height: 60px;
							display: inline-block;
						}
						.request {
							.sprite(@icon_right_arrow);
						}
						.download {
							.sprite(@icon_download);
						}
						.icon-text {
							display: block;
							margin-top: 10px;
							font-family: "ClanPro-News", sans-serif;
						}
					}
					}
			}
			img {
				width: 100%;
			}
			}
		}
}