section.competitions {
	.enter {
		padding: 35px 0;
		h3 {
			margin: 15px 0 60px;
		}
		p {
			font-family: "ClanPro-News", sans-serif;
			font-size: 18px;
			line-height: 26px;
			margin-bottom: 25px;
		}
	}
	.entry-form {
		background: #f4f4f4;
		padding: 60px 0 100px;
	}
}