section.find {
	.options {
		padding: 40px 0;
		h3, label {
			font-family: "ClanPro-News", sans-serif;
		}
		h3 {
			font-size: 20px;
			margin: 0 0 15px;
		}
		label {
			font-size: 15px;
			font-weight: 400;
			input {
				margin-right: 10px;
			}
		 }
	}
	.walks {
		padding: 40px 0;
		.walk {
			float: left;
			width: 100%;
			padding: 0 5px;
			display: block;
			color: #333;
			&:hover {
				color: #333;
				text-decoration: none;
			}
			@media (min-width: @mobile) {
				width: 50%;
				padding: 0 5px 0 0;
			}
			@media (min-width: @tablet) {
				width: 100%/3;
				padding: 0 2.5px 0 2.5px;
			}
			margin: 0 0 40px;
			h3 {
				font-size: 22px;
				margin: 0 0 15px;
				text-align: center;
			}
			img {
				width: 100%;
			}
		}
	}
}