@font-face {
  font-family: 'ClanPro-Bold';
  src: url('../fonts/ClanPro-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/ClanPro-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ClanPro-Bold.woff') format('woff'),
       url('../fonts/ClanPro-Bold.ttf')  format('truetype'),
       url('../fonts/ClanPro-Bold.svg#ClanPro-Bold') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'ClanPro-Ultra';
  src: url('../fonts/ClanPro-Ultra.eot'); /* IE9 Compat Modes */
  src: url('../fonts/ClanPro-Ultra.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ClanPro-Ultra.woff') format('woff'),
       url('../fonts/ClanPro-Ultra.ttf')  format('truetype'),
       url('../fonts/ClanPro-Ultra.svg#ClanPro-Ultra') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'ClanPro-News';
  src: url('../fonts/ClanPro-News.eot'); /* IE9 Compat Modes */
  src: url('../fonts/ClanPro-News.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ClanPro-News.woff') format('woff'),
       url('../fonts/ClanPro-News.ttf')  format('truetype'),
       url('../fonts/ClanPro-News.svg#ClanPro-News') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'ClanPro-Book';
  src: url('../fonts/ClanPro-Book.eot'); /* IE9 Compat Modes */
  src: url('../fonts/ClanPro-Book.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ClanPro-Book.woff') format('woff'),
       url('../fonts/ClanPro-Book.ttf')  format('truetype'),
       url('../fonts/ClanPro-Book.svg#ClanPro-Book') format('svg'); /* Legacy iOS */
}
