footer {
	padding: 65px 0 0;
	background: #333;
	.container {
		padding: 0 15px 30px;
		@media (min-width: @tablet) {
			padding: 0 15px 45px;
		}
		background: url(../img/logo-2.png) right bottom no-repeat;
		.col {
			padding: 0;
			@media (min-width: @tablet) {
				padding: 0 15px;
			}
		}
	}
	h3 {
		color: #FFF;
		margin: 0 0 35px;
		text-align: center;
		@media (min-width: @tablet) { text-align: left; }
	}
	.social-icons {
		margin: 0 0 40px;
		text-align: center;
		@media (min-width: @tablet) { text-align: left; }
	}
	form { margin-bottom: 70px; }
	.win {
		text-align: center;
		@media (min-width: @tablet) { text-align: left; }
	}
	ul.links {
		list-style-type: none;
		padding: 0;
		&.links-1 {
			display: none;
			@media (min-width: @tablet) { display: block; }
		}
		&.links-2 {
			display: block;
			margin-top: 70px;
			@media (min-width: @tablet) { display: none; }
			li {
				display: block;
				&:after { content: ""; }
			}
		}
		li {
			display: inline-block;
			margin-right: 10px;
			&:last-of-type {
				&:after { content: ""; }
			}
			//&:hover { &:after { color: #FFF; } }
			&:after {
				content: "|";
				position: relative;
				right: -5px;
				color: #797979;
			}
			a {
				color: #999;
				text-decoration: none;
				font-size: 15px;
				line-height: 25px;
				&:hover {
					color: #FFF;
					text-decoration: none;
				}
			}
		}
	}
}