//body
body {
	//padding-top: 51px;
}
//img
img {
	max-width: 100%;
}
//a
a { outline: none; }
//.header
.header {
	padding: 35px 0;
	background: #333;
	&.two {
		padding: 50px 0;
	}
	&.first {
		margin-top: 51px;
	}
	h2 {
		font-family: "ClanPro-Ultra", sans-serif;
		font-size: 60px;
		@media (min-width: @mobile) {
			font-size: 80px;
		}
		line-height: 1;
		margin: 0 0 25px;
		color: @blue1;
	}
	&.greenish {
		h2 {
			color: @greenish;
		}
	}
	&.red {
		h2 {
			color: @red;
		}
	}
	p {
		font-family: Georgia, serif;
		font-size: 24px;
		color: #FFF;
		margin: 0;
	}
	h3 {
		font-family: "ClanPro-Book", sans-serif;
		font-size: 40px;
		line-height: 40px;
		text-align: center;
		color: #FFF;
	}
}
//stalker
@stalker-width: 210px;
@icon-size: 16px;
@stalker-hide: @stalker-width - @icon-size - 20px;
.stalker {
	position: fixed;
	width: @stalker-width;
	right: 0;
	top: 150px;
	transform: translateX(@stalker-hide);
	transition: all 200ms;
	-webkit-backface-visibility: hidden;
	z-index: 999;
	@media (min-width: @mobile) {
		top: 50%;
		transform: translate(@stalker-hide, -50%);
	}
	&:hover {
		transform: translateX(0);
		//transition: all 200ms;
		@media (min-width: @mobile) {
			transform: translate(0, -50%);
		}
	}
	background: fade(@blue1, 80%);
	border-radius: 10px 0 0 10px;
	padding: 10px;
	.icon {
		padding-left: @icon-size + 10px;
		height: @icon-size;
		margin-bottom: 5px;
		display: block;
		color: #FFF;
		text-decoration: none;
		line-height: @icon-size;
		font-size: 15px;
		&:hover {
			color: #FFF;
			text-decoration: none;
		}
		&.big { background: url(../img/icon_dot_big.png) left center no-repeat; }
		&.small { background: url(../img/icon_dot_small.png) left @icon-size/2 center no-repeat; }
	}
}
//stalker-2
.stalker-2 {
	position: static;
	padding: 20px 0;
	text-align: center;
	z-index: 999;
	display: block;
	&.mobile {
		background: #FFF;
	}
	&.desktop {
		display: none;
		@media (min-width: @desktop) {
			display: block;
		}
	}
	@media (min-width: @desktop) {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		display: none;
	}
	.item {
		font-weight: 700;
		padding: 0 20px 0 45px;
		min-width: 130px;
		height: 40px;
		line-height: 40px;
		color: #FFF;
		position: relative;
		border-radius: 500px;
		margin: 5px;
		display: inline-block;
		text-align: left;
		@media (min-width: @desktop) {
			display: block;
			border-radius: 500px 0 0 500px;
			margin: 0 0 5px;
		}
		&:hover, &:active, &:focus {
			color: #FFF;
			text-decoration: none;
		}
		//colors
		&.blue2 {
			background: fade(@blue2, 80%);
			&:hover { background: @blue2; }
			.icon { background: @blue2 url(../img/icon_60.png) center center no-repeat; }
		}
		&.purple {
			background: fade(@purple, 80%);
			&:hover { background: @purple; }
			.icon { background: @purple url(../img/icon_blogs.png) center center no-repeat; }
		}
		&.greenish {
			background: fade(@greenish, 80%);
			&:hover { background: @greenish; }
			.icon { background: @greenish url(../img/icon_brochures.png) center center no-repeat; }
		}
		&.red {
			background: fade(@red, 80%);
			&:hover { background: @red; }
			.icon { background: @red url(../img/icon_weather.png) center center no-repeat; }
		}
		&.blue1 {
			background: fade(@blue1, 80%);
			&:hover { background: @blue1; }
			.icon { background: @blue1 url(../img/icon_webcams.png) center center no-repeat; }
		}
		.icon {
			position: absolute;
			display: block;
			left: 5px;
			top: 5px;
			width: 30px;
			height: 30px;
			box-shadow: 0 0 0 1px #FFF;
			border-radius: 50%;
		}
	}
}
//quote
.quote {
position: relative;
padding: 50px 0;
font-family: Georgia, serif;
font-size: 30px;
line-height: 30/21 * 30px;
max-width: 90%;
&:after, &:before {
	content: "";
	position: absolute;
	width: 41px;
	height: 30px;
	.sprite-location();
}
&:before {
	top: 0;
	left: 0;
	.sprite(@quote_top);
}
&:after {
	bottom: 0;
	left: 0;
	.sprite(@quote_bottom);
}
}
//big-text
.big-text {
	font-family: "ClanPro-Book", sans-serif;
	font-size: 21px;
	line-height: 30px;
}
//accent-text
.accent-text {
	color: @blue1;
}
//radio
form {
	input[type=radio] {
	position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
	}
	input[type=radio] + label {
		padding-left: 26px;
		height: 16px;
		display: inline-block;
		line-height: 16px;
		background-repeat: no-repeat;
		background-position: 0 0;
		font-size: 16px;
		vertical-align: middle;
		cursor: pointer;
	}
	input[type=radio]:checked + label {
		background-position: 0 -16px;
	}
	label {
	background-image:url(../img/radio.png);
	-webkit-touch-callout: none;
	user-select: none;
	}
}
//social icons
.social {
	width: 50px;
	height: 50px;
	display: inline-block;
	margin-right: 1px;
	@media (min-width: @desktop) {
		margin-right: 10px;
	}
	.sprite-location();
	&.facebook { .sprite(@facebook); }
	&.twitter { .sprite(@twitter); }
	&.google { .sprite(@google); }
	&.instagram { .sprite(@instagram); }
	&.youtube { .sprite(@youtube); }
}
//button
.button {
	font-family: "ClanPro-Bold", sans-serif;
	text-transform: uppercase;
	padding: 15px 20px;
	background: #FFF;
	color: #333;
	display: inline-block;
	margin-bottom: 0; // For input.btn
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
	border: 2px solid transparent;
	white-space: nowrap;
	user-select: none;
	outline: none;
	border-radius: 500px;
	transition: background 100ms, color 100ms, border 100ms;
	&:hover {
		background: #F7F7F7;
		transition: background 100ms, color 100ms, border 100ms;
	}
	&:hover, &:active, &:focus { text-decoration: none; }
	&.block { display: block; width: 100%; }
	&.big-text {
		font-size: 22px;
		line-height: 22px;
	}
	&.outline {
		color: #FFF;
		background: transparent;
		border: 2px solid #FFF;

		&:hover {
			background: #FFF;
			color: #333;
		}
		&.gray {
			color: #999;
			border: 2px solid #999;
			background: #FFF;
			&:hover {
				border: 2px solid #333;
				color: #333;
			}
		}
	}
}
//inputs
input {
	display: block;
	width: 100%;
	outline: none;
	padding: 15px;
	background: transparent;
	border: 1px solid #7e7e7e;
	color: #333;
	border-radius: 500px;
	&:focus { border-color: #FFF; }
	&.invert {
		color: #FFF;
	}
}

//bullets
.bullets {
	&.boxed {
	color: #FFF;
	background: #999;
	border-radius: 10px;
	padding: 20px;
	font-family: "ClanPro-News", sans-serif;
	a, a:hover, a:active {
		color: #FFF;
	}
	h3 {
		margin: 0 0 25px;
		font-size: 21px;
	}
	ul {
		margin: 0;
		padding: 0 0 0 20px;
		li {
			margin-bottom: 15px;
			font-size: 15px;
			line-height: 17px;
			letter-spacing: 0.04em;
			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
	}
	&.body {
		padding: 60px 0;
		h3, ul li {
			font-size: 21px;
			line-height: 30px;
		}
		h3 {
			margin: 0 0 20px;
			font-family: "ClanPro-Bold", sans-serif;
		}
		ul {
			margin: 0;
			padding: 0 0 0 20px;
			li {
				margin-bottom: 15px;
				&:last-of-type {
					margin-bottom: 0;
				}
			}
		}
	}
}

//table
.table {
	width: 100%;
	max-width: 100%;
	overflow-x: auto;
}
table {
	width: 100%;
	thead {
		border-top: 4px solid #999;
		border-bottom: 3px solid #999;
	}
	th {
		font-family: "ClanPro-Blod", sans-serif;
		padding: 12px 18px 10px;
	}
	td {
		padding: 13px;
	}
	td, th {
		font-size: 21px;
		line-height: 21px;
		margin: 0;
	}
	tbody {
		tr {
			border-bottom: 1px solid #ccc;
		}
	}
}

//documents
.documents {
	padding: 60px 0;
	.document {
		padding: 15px 0 15px 45px;
		border-bottom: 1px solid #999;
		position: relative;
		&:first-of-type {
			border-top: 1px solid #999;
		}
		.image {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			.sprite-location();
			.sprite(@filetype_pdf);
			width: 26px;
			height: 30px;
		}
		a {
			font-size: 21px;
			line-height: 21px;
		}
	}
}

//add to collection
.add-parent {
	text-align: center;
}
.add {
	display: inline-block;
	margin: 35px 0 0;
	padding: 10px 15px 10px 65px;
	position: relative;
	background: #ccc;
	transition: background 200ms;
	color: #fff;
	text-decoration: none;
	border-radius: 500px;
	text-transform: uppercase;
	font-family: "ClanPro-Bold", sans-serif;
	font-size: 14px;
	line-height: 16px;
	&:active, &:focus, &:hover {
		background: #c0352b;
		color: #FFF;
		text-decoration: none;
	}
	.icon {
		position: absolute;
		display: block;
		left: 10px;
		top: 50%;
		transform: translateY(-50%);
		width: 45px;
		height: 45px;
		box-shadow: 0 0 0 1px #FFF;
		border-radius: 50%;
		background: url(../img/icon_heart.png) center center no-repeat;
	}
}
img.retina {
	display: none;
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
		display: inline-block;
	}
}

img.nonretina {
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
		display: none;
	}
}