section.graphics {
	margin: 51px 0 0;
	padding: 40px 0;
	.content {
		.margin-bottom {
			@media (min-width: @mobile) { margin: 0; }
			margin: 0 0 30px;
		}
	}
	.table-content {
		h3 {
			margin: 50px 0 15px;
		}
		table {
			margin: 40px 0;
		}
	}
}