header {
	position: relative;
	.navbar-default {
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
		-webkit-backface-visibility: hidden;
		li {
			a {
				&.discover:hover { color: @greenish !important; }
				&.things:hover { color: @blue1 !important; }
				&.plan:hover { color: @purple !important; }
				&.about:hover { color: @blue2 !important; }
				&.collection:hover { color: @red !important; }
			}
		}
	}
	.navbar-brand {
		padding-top: 16px;
		@media (min-width: @tablet) { padding-top: 12.5px; }
		&.pride {
			padding: 14.5px;
			@media (min-width: @tablet) { padding-top: 10px; }
		}
	}
	.icons {
		padding: 7.5px 32px 7.5px 10px;
		@media (min-width: @tablet) { padding: 7.5px 32px 7.5px 0; }
		@media (min-width: @mobile) { padding: 7.5px 32px 7.5px 15px; }
		position: relative;
		@media (min-width: @tablet) { width: 210px; }
		@media (min-width: @mobile) { width: 230px; }
		width: 225px;
		min-height: 45px;
		.icon {
			width: 30px;
			height: 30px;
			border-radius: 50%;
			display: inline-block;
			margin: 0 2px 0 0;
			&.blue2 { background: @blue2 url(../img/icon_60.png) center center no-repeat; }
			&.purple { background: @purple url(../img/icon_blogs.png) center center no-repeat; ; }
			&.greenish { background: @greenish url(../img/icon_brochures.png) center center no-repeat; ; }
			&.red { background: @red url(../img/icon_weather.png) center center no-repeat; ; }
			&.blue1 { background: @blue1 url(../img/icon_webcams.png) center center no-repeat; ; }
		}
		.search {
			position: absolute;
			top: 7.5px;
			right: 0;
			width: 30px;
			height: 30px;
			border: 1px solid #AAA;
			border-radius: 500px;
			background: #FFF;
			overflow: hidden;
			&:hover {
				text-decoration: none;
			}
			.icon {
				position: absolute;
				right: 0;
				top: 0;
				padding: 14px 12px;
				width: 16px;
				height: 16px;
				background: url(../img/icon_search.png) center no-repeat;
				cursor: pointer;
			}
			input {
				display: none;
				width: 100%;
				border: 0;
				height: 27px;
				padding: 0;
				outline: none;
				color: #333;
			}
			&.active, &.always-open {
				padding: 1px 35px 1px 11px;
				border-radius: 500px;
				input {
					display: block;
				}
			}
			&.always-open {
				width: 216px;
			}
		}
	}
	.jumbo {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		color: #FFF;
		position: relative;
		.image-1, .image-2 {
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			opacity: 1;
			transition: opacity 500ms;
			&.active {
				opacity: 0;
			}
		}
		.image-1 {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 9;
		}
		.image-2 {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 8;
		}
		.container {
			position: relative;
			height: 100vh;
			min-height: 600px;
		}
		.inner {
			position: absolute;
			bottom: 50px;
			left: 0;
			padding: 0 20px 0;
			z-index: 10;
		}
		.slide {
			display: none;
			&.active {
				display: block;
			}
		}
		h2 {
			font-family: "ClanPro-Ultra", sans-serif;
			font-size: 60px;
			@media (min-width: @mobile) { font-size: 80px; }
			margin: 0 0 30px;
		}
		p {
			font-family: Georgia, serif;
			font-size: 24px;
			margin: 0 0 35px;
		}
		.arrow-down {
			width: 60px;
			height: 60px;
			.sprite-location();
			.sprite(@icon_down_arrow);
			display: block;
			&:hover {
				text-decoration: none;
			}
		}
		.slider-dots {
			position: absolute;
			bottom: 10px;
			left: 50%;
			transform: translate(-50%);
			z-index: 10;
			.dot {
				width: 16px;
				height: 16px;
				display: inline-block;
				text-decoration: none;
				line-height: 16px;
				margin-right: 8px;
				padding: 15px;
				&:hover {
					color: #FFF;
					text-decoration: none;
				}
				&.big { background: url(../img/icon_dot_big.png) center center no-repeat; }
				&.small { background: url(../img/icon_dot_small.png) center center no-repeat; }
			}
		}
	}
}