section.instagram {
	padding: 20px 0 140px;
	.title {
		margin: 0 0 35px;
		text-align: center;
		span {
			display: inline-block;
			vertical-align: middle;
			height: 60px;
			line-height: 60px;
		}
		.content {
			font-size: 26px;
			margin: 0 5px 0 15px;
		}
		.hash {
			color: #999;
			font-size: 18px;
		}
		.icon {
			.sprite-location();
			width: 60px;
			height: 60px;
			.sprite(@instagram_gray);
			position: relative;
			bottom: -50%;
		}
	}
	#tiles {
		.clearfix();
		.single, .double {
			float: none;
			.clearfix();
			@media (min-width: @mobile) {
				float: left;
			}
		}
		.single {
			width: 100%;
			@media (min-width: @mobile) {
				width: 100%/6;
			}
			.tile {
				width: 50%;
				//to be used on mobile!
				&.big {
					width: 100%;
				}
				@media (min-width: @mobile) {
					width: 100% !important;
				}
			}
		}
		.double {
			width: 100%;
			@media (min-width: @mobile) {
				width: 100%/3;
			}
		}
		.tile {
			width: 100%;
			padding: 2.5px;
			float: left;
			&.half {
				width: 50%;
			}
			&.bottom { padding: 5px 2.5px 2.5px; }
			img {
				width: 100%;
			}
		}
	}
}