.menu {
	position: fixed;
	top: 59px;
	padding: 0;
	font-family: "ClanPro-Book", sans-serif;
	@media (min-width: @desktop) {
		padding: 40px 0;
	}
	display: none;
	border-bottom: solid 5px @blue1;
	@media (min-width: @desktop) {
		top: 51px;
		border-bottom: none;
	}
	left: 0;
	width: 100%;
	background: #292929;
	@media (min-width: @desktop) {
		background: fade(#000, 80%);
	}
	z-index: 9999;
	ul {
		padding: 0;
		list-style-type: none;
		margin: 0;
	}
	.submenu ul {
		li {
			padding: 5px 0;
		}
		li:first-of-type {
			font-family: "CLanPro-Bold", sans-serif;
			a {
				font-family: "CLanPro-Bold", sans-serif;
			}
		}
		&:hover {
			li:first-of-type {
			color: @blue1;
			a, a:hover, a:active, a:focus {
				color: @blue1;
				text-decoration: none;
			}
			}
		}
	}
	a, a:hover, a:focus, a:active {
		color: #FFF;
		//text-decoration: none;
	}
	.particle {
		position: absolute;
		top: -1px	;
		left: 0;
		width: 30px;
		height: 15px;
		.sprite-location();
		.sprite(@menu_arrow);
		display: none;
		@media (min-width: @desktop) { display: block; }
	}
	.submenu {
		display: none;
	}
	.images {
		display: none;
		@media (min-width: @desktop) { display: block; }
	}
	.images-mobile {
		text-align: center;
		background: #333;
		border-bottom: 2px solid #3d3d3d;
		.image {
			display: inline-block;
			margin: 10px 20px;
			.text {
				text-align: left;
			}
		}
	}
	img { max-width: 100%; }
	 .image {
	 	position: relative;
	 	margin-bottom: 20px;
	 	display: inline-block;
	 	max-width: 100%;
	 	.text {
	 		position: absolute;
	 		bottom: 5px;
	 		left: 10px;
	 		color: #FFF;
	 		text-shadow: 0 0 4px #000;
	 	}
	 	&.addition {
	 		display: none;
	 		@media (min-width: @mobile) {
	 			display: inline-block;
	 		}
	 	}
	 }
	.submenu-mobile {
		display: block;
		@media (min-width: @desktop) { display: none; }
		ul {
			li {
				position: relative;
				border-bottom: 2px solid #3d3d3d;
				&:last-of-type { border-bottom: none; }
				a {
					padding: 15px 20px;
					background: #333;
					font-size: 20px;
					line-height: 20px;
					text-decoration: none;
					display: block;
					&:hover, &:active {
						text-decoration: none;
					}
					&.back {
						background: #292929;
					}
					&.back {
						padding-left: 50px;
						> .icon {
							left: 0;
							top: 0;
							bottom: 0;
							.inner {
								.sprite(@menu_back);
							}
						}
					}
					&:hover {
						background: @blue1;
						&.back {
							> .icon {
								 border: none;
								.inner {
									.sprite(@menu_back_selected);
								}
							}
						}
					}
				}
				.icon {
					right: 0;
					top: 0;
					bottom: 0;
					border-left: 2px solid #3d3d3d;
					.inner {
						.sprite(@menu_next);
					}
					&:hover {
						border-color: #FFF;
						.inner {
							.sprite(@menu_next_selected);
						}
					}
				}
				.icon, a.back .icon {
					width: 50px;
					position: absolute;
					.inner {
						.sprite-location();
						position: absolute;
						width: 10px;
						height: 17px;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
					}
				}
			}
		}
		.search-parent {
			position: relative;
			min-height: 45px;
			background: #292929;
			padding: 30px 0;
			.search {
				position: absolute;
				top: 15px;
				left: 2%;
				width: 96%;
				border: 1px solid #FFF;
				padding: 0 15px;
				border-radius: 500px;
				background: transparent;
				overflow: hidden;
				border-radius: 500px;
				&:hover {
					text-decoration: none;
				}
				.icon {
					position: absolute;
					right: 0;
					top: 0;
					padding: 13px 15px;
					width: 16px;
					height: 16px;
					background: url(../img/icon_search.png) center no-repeat;
					cursor: pointer;
					border: none;
					&:hover {
						border: none;
					}
				}
				input {
					display: block;
					width: 100%;
					border: 0;
					height: 27px;
					padding: 0;
					outline: none;
					color: #FFF;
				}
			}
		}
	}
}