@menu_arrow: -4px, -4px, 30px, 15px;
@menu_next_selected: -4px, -27px, 10px, 17px;
@menu_back: -4px, -52px, 10px, 17px;
@menu_back_selected: -4px, -77px, 10px, 17px;
@menu_next: -4px, -102px, 10px, 17px;
@quote_top: -4px, -127px, 40px, 29px;
@icon_right_arrow_small: -4px, -164px, 30px, 30px;
@filetype_pdf: -4px, -202px, 26px, 30px;
@quote_bottom: -4px, -240px, 41px, 31px;
@google: -4px, -279px, 50px, 50px;
@twitter: -4px, -337px, 50px, 50px;
@instagram: -4px, -395px, 50px, 50px;
@facebook: -4px, -453px, 50px, 50px;
@youtube: -4px, -511px, 50px, 50px;
@instagram_gray: -4px, -569px, 60px, 60px;
@icon_right_arrow: -4px, -637px, 60px, 60px;
@icon_download: -4px, -705px, 60px, 60px;
@icon_down_arrow: -4px, -773px, 60px, 60px;

.sprite-width(@sprite) {
  width: extract(@sprite, 3);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 4);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 1);
  @sprite-offset-y: extract(@sprite, 2);
  background-position: @sprite-offset-x  @sprite-offset-y;
}

.sprite(@sprite) {
  .sprite-position(@sprite);
  background-repeat: no-repeat;
  overflow: hidden;
}

.icon {
  background-image: url('src/css/sprite.png');
}

