section.story {
	padding: 50px 0 40px;
	.content {
		.margin-bottom {
			@media (min-width: @mobile) { margin: 0; }
			margin: 0 0 30px;
		}
	}
	.images {
		padding: 40px 0;
		@media (min-width: @mobile) { padding: 40px 15px; }
		.image {
			margin-bottom: 5px;
			&.full {
				padding: 0 5px;
				@media (min-width: @mobile) {
					padding: 0;
				}
			}
			&.half {
				float: left;
				width: 100%;
				padding: 0 5px;
				@media (min-width: @mobile) {
					padding: 0 2.5px 0 0;
					&:last-of-type {
						padding: 0 0 0 2.5px;
					}
					width: 50%;
				}
			}
		}
		img {
			width: 100%;
			height: auto;
		}
	}
}