section.top-picks {
	padding: 60px 0 20px;
	h3 {
		font-size: 26px;
		margin: 0 0 15px;
		text-align: center;
	}
	.pick {
		float: left;
		width: 99%;
		margin: 0 0.5% 1%;
		display: block;
		color: #FFF;
		position: relative;
		overflow: hidden;
		text-align: center;
		&:hover {
			color: #FFF;
			text-decoration: none;
			.hover {
				opacity: 1;
				transition: opacity 200ms;
			}
			.title {
				transform: translateY(100%);
			}
			img {
				transform: scale(1.5);
				transition: transform 200ms;
			}
		}
		@media (min-width: @mobile) {
			width: 49%;
			margin: 0 0.5% 0.5% 0;
		}
		@media (min-width: @tablet) {
			width: 98.5%/3;
			margin: 0 0.25% 0.5%;
		}
		h4 {
			font-size: 26px;
			line-height: 32px;
			margin: 0 0 15px;
			font-family: "ClanPro-Bold", sans-serif;
		}
		p {
			font-family: "ClanPro-Book", sans-serif;
			font-size: 18px;
			line-height: 20px;
		}
		.title {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: 100%;
			text-align: center;
		}
		.hover {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			opacity: 0;
			transition: opacity 200ms;
			background: fade(#000, 60%);
			.inner {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				text-align: center;
				width: 100%;
				padding: 0 60px;
			}
		}
		img {
			width: 100%;
			transition: transform 200ms ease-out;
		}
		.icon {
			display: inline-block;
			width: 30px;
			height: 30px;
			.sprite-location();
			.sprite(@icon_right_arrow_small);
		}
	}
}